<div id="log_in">
    <div id="log_in_field">
        <form action="" (ngSubmit)="signUp()" id="log_in_form">
            <input type="text" id="user_name" [(ngModel)]="user.name" placeholder="Nombre completo"/>
            <input  id="emai" placeholder="Correo electrónico"/>
            <input name="password" type="password" id="password" placeholder="Contraseña" />
            <button type="submit">Ingresar!</button>
        </form>
        <p>No tiene cuenta ?<a href="" routerLink="/sign-up"> Regístrese aquí</a></p>
    </div>
</div>