<div id="page_corpse">
    <div id="exam_corpse">
        <div *ngFor="let index of [1,2,3,4]" class="question">
            <span id="question_string">Cadena de la pregunta</span>
            <div class="options">
                <ul id="options_list">
                    <li class="option" id="option_1"><input type="radio" name="ans_question_1" id="ans_1"/></li>
                    <label for="ans_1">Respuesta 1</label>
                    <li class="option" id="option_2"><input type="radio" name="ans_question_1" id="ans_2"/></li>
                    <label for="ans_2">Respuesta 2</label>
                    <li class="option" id="option_3"><input type="radio" name="ans_question_1" id="ans_3"/></li>
                    <label for="ans_3">Respuesta 3</label>
                    <li class="option" id="option_4"><input type="radio" name="ans_question_1" id="ans_4"/></li>
                    <label for="ans_4">Respuesta 4</label>
                </ul>
            </div>
        </div>
    </div>
</div>